# Final Data Science Project

<p style="color:green; font-size:12px;">
(Ejercicio 2 - Cree una celda markdown con el título del cuaderno. (1 pto))
</p>

## Introduction
This workbook contains a set of tasks related to data science. <br>
Some basic concepts are included, such as programming languages, libraries, tools and examples of mathematical operations. 
<br>
<br>
<p style="color:green; font-size:12px;">
(Ejercicio 3 - Cree una celda markdown para una introducción. (1 pto))
</p>

## Data Science Languages
The most used languages in data science are:
- Python
- R
- SQL
- Java
- Julia
- Scala
<br>
<br>
<p style="color:green; font-size:12px;">
Ejercicio 4 - Cree una celda markdown para enumerar los lenguajes de la ciencia de datos. (3 ptos)
</p>

## Bibliotecas de Ciencia de Datos
Algunas de las bibliotecas más populares para la ciencia de datos son:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras
<br>
<br>
<p style="color:green; font-size:12px;">
Ejercicio 5 - Cree una celda markdown para listar bibliotecas de ciencia de datos. (3 ptos)
</p>

## Data Science Tools

| Tool                   | Description                                     |
|------------------------|-------------------------------------------------|
| Jupyter Notebooks      | Interactive environment to execute code        |
| RStudio                | Popular IDE for R and data analysis             |
| Apache Spark           | Big Data Distributed Analytics Engine           |
| Tableau                | Data visualization tool                         |
| Power BI               | Data visualization and Business intelligence tool|

<br>
<br>
<p style="color:green; font-size:12px;">
Ejercicio 6 - Cree una celda markdown con una tabla de herramientas de Ciencia de Datos. (3 ptos)
</p>

## Examples of Arithmetic Expressions
Next, we will look at some examples of how to perform basic mathematical operations, such as addition and multiplication.
<br>
<br>

<p style="color:green; font-size:12px;">
Ejercicio 7 - Cree una celda markdown introduciendo ejemplos de expresiones aritméticas. (1 pto)
</p>

In [9]:
mult = 5 * 6
add = 5 + 6
mult, add

# Ejercicio 8 - Cree una celda de códigopara multiplicar y sumar números. (2 ptos)

(30, 11)

In [10]:
mints = 120
hours = mints / 60
hours

#Ejercicio 9 - Cree una celda de código para convertir minutos en horas. (2 ptos)

2.0

In [12]:
obj = ["Understand data science languages", 
      "Familiarize yourself with common libraries", 
      "Learning how to do basic arithmetic operations", 
      "Create a notebook in Jupyter on github"]
for o in obj:
    print(o)

    
#Ejercicio 10 -Inserte una celda de código para listar Objetivos. (3 pts)

Understand data science languages
Familiarize yourself with common libraries
Learning how to do basic arithmetic operations
Create a notebook in Jupyter on github

## Author
Author's name: Mariela
<br>
<br>

<p style="color:green; font-size:12px;">
Ejercicio 11 - Cree una celda markdown para indicar el nombre del Autor. (2 ptos)
</p>